@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Space+Mono&display=swap');
body,html
{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
}
body
{
    background-color: hsl(270, 20%, 96%);
    font-family: 'Rubik';
    display: flex;
    flex-direction: column;
}
.main
{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;

}
.main:before
{
background: linear-gradient(to top right, hsl(264, 100%, 61%),hsl(293, 100%, 63%) );
content: "";
position: absolute;
left: 0rem;
top: 0rem;
z-index: -1;
width: 14rem;
height: 30rem;
border-bottom-right-radius:10rem ;
/* border-bottom-left-radius:50% ; */
}

.main:after
{
    background-color:hsl(272, 15%, 87%);
content: "";
position: absolute;
left: 85%;
top: 45%;
z-index: -1;
width: 14rem;
height: 30rem;
border-top-left-radius:10rem ;

}

.dog-images
{
    display: grid;
    grid-gap: 0.5rem;
    margin-left: 6rem;
    width: 10rem;
    grid-template-columns: repeat(3,1fr);
}
.dog-images img,.top-bar img
{
    width: 3rem;
    border-radius: 1rem;
}
.top-bar img
{
    width: 2rem;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
}
.mobile-front
{
    width: 15rem;
    margin: 2rem 12rem;
    z-index: 1;
    border:1rem solid  hsl(0, 0%, 100%);
    border-radius: 0.6rem;
    background-color: hsl(270, 20%, 96%);
    height: 30rem;
    /* padding: 1rem; */
}
/* .mobile-front */
.top-bar:before
{
    background: hsl(0, 0%, 100%);
    content: "";
    position: relative;
    top: -1rem;
left: 7rem;
    transform: translate(-50% ,0%);
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
}
.top-bar
{
    background: linear-gradient(to top right, hsl(264, 100%, 61%),hsl(293, 100%, 63%) );
    /* display: inline-block; */
    display: flex;
    width: 100%;
    /* grid-template-columns: repeat(2, 1fr); */
    font-size:  16px;
    color:  hsl(0, 0%, 100%);
}
.left-normal
{
    width: 10rem;
    text-align: left;
    background-color:hsl(272, 15%, 87%);
    color: hsl(276, 55%, 52%);
    border-radius: 0.5rem;
}
.right-normal
{
    color: hsl(271, 15%, 43%);
    background-color: hsl(0, 0%, 100%);
    width: 7rem;

}
.name
{
    width: fit-content;
    font-weight: 700;
}
.availability
{
    width: fit-content;
}
.info-bar p
{
    color: hsl(270, 7%, 64%);
}
@media (max-width:479)
{
    .main
    {
        grid-template-columns: 1fr;

        background: red;
    }
}